.left-image img {
  max-width: 30%;
  max-height: 30%;
  object-fit: contain;
}

.container {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.section-title:hover {
  transform: scale(1.1);
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.photo-frame {
  width: calc(25% - 10px);
  height: 325px;
  margin: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photo-frame img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}

body {
  color: #754b2e;
}

.photo-frame:hover {
  transform: scale(1.1);
}

.category-box {
  display: none;
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
  text-align: left;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.stamp-grid {
  display: none;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title-container>div {
  margin: 0 20px;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  animation: slide-in 0.5s ease-in-out;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.5s ease-in-out;
}

.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  color: #333;
}

.footer a {
  color: #754b2e;
  font-weight: bold;
  text-decoration: none;
}